Source: ros-lunar-ros
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: http://www.ros.org/wiki/ROS
Standards-Version: 3.9.2

Package: ros-lunar-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-catkin, ros-lunar-mk, ros-lunar-rosbash, ros-lunar-rosboost-cfg, ros-lunar-rosbuild, ros-lunar-rosclean, ros-lunar-roscreate, ros-lunar-roslang, ros-lunar-roslib, ros-lunar-rosmake, ros-lunar-rosunit
Description: ROS packaging system
