Source: ros-noetic-roslang
Section: misc
Priority: optional
Maintainer: Michel Hidalgo <michel@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://ros.org/wiki/roslang
Standards-Version: 3.9.2

Package: ros-noetic-roslang
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-catkin, ros-noetic-genmsg
Description: roslang is a common package that all ROS client libraries depend on.
 This is mainly used to find client libraries (via 'rospack depends-on1 roslang').
